@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <span class="nav-link text-dark">Hello, @User.Identity.Name!</span>
            </li>
            <form method="post" asp-page="/Account/Logout">
                <button type="submit">Logout</button>
            </form>
        }
        else
        {
            <li class="nav-item">
                <a asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
</div>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
