
@{  
    ViewData["Title"] = "About My MVC Page";  
}  

<h1>@ViewData["Title"]</h1>  
<p>This is the About page from my MVC controller.</p>  

<p>  
    <a href="/">Go back to Blazor Home</a>  
</p>